---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=a6cee3&w=1000&t=tt&d=QCmVnZQRNBiTMp2c41ZMnv_1uicd2f1N-H6u-KgF_hE&co=1f78b4&cmo=b2df8a&cmn=33a02c&ct=ffffff'></script>
  </body>



</html>
